/* regole generali */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
i{
  cursor: pointer;
}



/* regole generali blocco slider */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}
.slider-wrapper{
 display: flex;
 align-items: center;
 justify-content: space-around;
 overflow: hidden;
 height: 80vh;
}

/* regole del blocco imgs */



.images {
 width: 80%;

}


.images img {
 width: 100%;
 display: none;
}

.images img.active {
 display: inline-block;
 animation: active 4s;
}
@keyframes active {
  from {transform: translateX(-100%);}
  to {transform: translateX(0%);}
}
.images img.activePrev {
 display: inline-block;
 animation: activePrev 4s;
}
@keyframes activePrev {
  from {transform: translateX(100%);}
  to {transform: translateX(0%);}
}

/* regole navigazione */

.prev i, .next i{
 font-size: 40px;
}

.nav {
  width: 80%;
  text-align: center;
}
.nav i{
  opacity: 0.2;
}
.nav i.active {
 opacity: 1;
}
